.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.loginWrapper {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 325px;
}

.title {
  font-size: 2.5rem;
  padding: 20px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 550;
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.75));
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 70px;

  button {
    width: 30%;
  }

  p {
    width: 60%;
  }

  .error {
    color: red;
    font-size: 0.9rem;
    font-weight: 500;

    margin: 0px;
    color: red;
    word-wrap: break-word;
  }

  .success {
    color: green;
    font-size: 0.9rem;
    font-weight: 500;

    margin: 0px;
    color: green;
    word-wrap: break-word;
  }
}
