<div class="fullHeight">
  <div class="title">
    <h1>Dashboard</h1>
    <h3>Money-Overview & Summary</h3>
  </div>

  <div class="page-content">
    <div class="cards">
      <app-item-card
        [title]="'300€'"
        [subtitle]="'Monthly-Spending'"
        [content]="'Increase of 5%'"
        [icon]="'today'"
      >
      </app-item-card>

      <app-item-card
        [title]="'500€'"
        [subtitle]="'Total-Spending'"
        [content]="'10% just in this month'"
        [icon]="'calendar_month'"
      >
      </app-item-card>

      <app-item-card
        [title]="'70€'"
        [subtitle]="'Biggest-Spending'"
        [content]="'Dies Das Ananas'"
        [icon]="'shopping_bag'"
      >
      </app-item-card>

      <app-item-card
        [title]="'Food'"
        [subtitle]="'Biggest-Category'"
        [content]="'20% of all spendings'"
        [icon]="'category'"
      >
      </app-item-card>
    </div>

    <div class="charts">
      <app-line-chart class="lineChart"></app-line-chart>
      <app-line-chart class="lineChart"></app-line-chart>

      <app-doughnut-chart></app-doughnut-chart>
    </div>
  </div>
</div>
