<div class="fullHeight">
  <div class="title">
    <h1>Dashboard</h1>
    <h3>Money-Overview & Summary</h3>
  </div>

  <div class="page-content">
    <div class="cards">
      <app-statistic-item
        [title]="monthlySpending | currency: 'EUR':'symbol':'1.1-1':'de-DE'"
        [subtitle]="'Monthly-Spending'"
        [content]="
          (monthlyChange >= 0
            ? 'Thats an increase of'
            : 'Thats a decrease of') +
          ' ' +
          (monthlyChange | percent) +
          ' compared to last month.'
        "
        [icon]="'today'"
      >
      </app-statistic-item>

      <app-statistic-item
        [title]="totalSpending | currency: 'EUR':'symbol':'1.1-1':'de-DE'"
        [subtitle]="'Total-Spending'"
        [content]="
          ((monthlySpending / totalSpending | percent) || '-') +
          ' of all the money was spent just this month.'
        "
        [icon]="'calendar_month'"
      >
      </app-statistic-item>

      <app-statistic-item
        [title]="
          biggestSpendingAmount | currency: 'EUR':'symbol':'1.1-1':'de-DE'
        "
        [subtitle]="'Biggest-Spending'"
        [content]="biggestSpendingDescription + '.'"
        [icon]="'shopping_bag'"
      >
      </app-statistic-item>

      <app-statistic-item
        [title]="biggestCategoryName"
        [subtitle]="'Biggest-Category'"
        [content]="
          ((biggestCategoryShare / totalSpending | percent) || '-') +
          ' of all expenses are in this category.'
        "
        [icon]="'category'"
      >
      </app-statistic-item>
    </div>

    <div class="charts">
      <app-line-chart
        class="lineChart"
        [title]="'All-Expenses'"
        [lineChartData]="lineChartData_total"
        [lineChartLabels]="lineChartLabels_total"
      ></app-line-chart>
      <app-line-chart
        class="lineChart"
        [title]="'Total-Expenses'"
        [lineChartData]="lineChartData_accumulative"
        [lineChartLabels]="lineChartLabels_accumulative"
      ></app-line-chart>

      <app-doughnut-chart
        class="doughnutChart"
        [title]="'Top-Categories'"
        [doughnutChartData]="doughnutChartData"
        [doughnutChartLabels]="doughnutChartLabels"
      ></app-doughnut-chart>
    </div>
  </div>
</div>
