/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;

  margin: 0px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fullWidth {
  width: 100%;
  height: 100%;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

app-statistic-item:nth-child(4n + 1) .statistics-item {
  border-left: 6px solid #00ff22;
}

app-statistic-item:nth-child(4n + 2) .statistics-item {
  border-left: 6px solid #f8f400;
}

app-statistic-item:nth-child(4n + 3) .statistics-item {
  border-left: 6px solid #ff9900;
}

app-statistic-item:nth-child(4n + 4) .statistics-item {
  border-left: 6px solid #00eeff;
}

* {
  transition: all 0.1s ease-in;
}

.mat-form-field-underline {
  display: none;
}

.mat-chip-list-wrapper {
  justify-content: center;
}

mat-form-field {
  width: 100%;
  height: 100%;
}
.mat-form-field-wrapper {
  padding: 4px !important;
}
.mat-form-field-infix {
  border: none !important;
  margin: auto !important;
}
