<div class="fullHeight">
  <div class="title">
    <h1>About</h1>
    <h3>Some words about this project</h3>
  </div>

  <div class="page-content">
    <div class="about">
      <p>
        In this project, I built a simple Expense-Tracker to keep track of all
        the expenses I made. The frontend of this website is built with Angular,
        and the Angular-Material-UI library.<br />
        The login process and the underlying database were created with a
        MariaDB database running on my local backend server.
      </p>

      <p>
        The goal of the project is to get and overview and to keep track of all
        the expenses I made, and to display them in a visualy appealing way.
      </p>

      <p>
        The expenses are stored in a database, and can be viewed and edited in a
        table. The table is sortable, and the user can add new expenses, delete
        existing ones, and modify them. There are multiple ways to visualize the
        expenses, and the user can choose between them.
      </p>

      <p>
        Copyright (c) 2020 by
        <a href="https://manuellerchner.de">Manuel Lerchner</a>. All rights
        reserved.
      </p>
    </div>
  </div>
</div>
