table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  min-width: 720px;

  box-shadow: 2px 2px 8px 4px rgba(65, 65, 65, 0.616);
}

th {
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #04aa6d;
  color: white;
}

td {
  border: 1px solid rgb(180, 180, 180);

  overflow-x: auto;

  height: 56px;

  padding: 0px;
  text-align: center;
  vertical-align: middle;

  div {
    width: 100%;
    height: 100%;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 4px;
    border: 0.5px solid rgb(97, 97, 97);
    text-align: center;
  }
}

td::-webkit-scrollbar {
  display: none;
}
td {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:not(.newDataRow):hover {
  background-color: #e7e7e7;
}

.newDataRow {
  border-top: 1px solid rgb(65, 65, 65);
  border-bottom: 2px solid rgb(65, 65, 65);
}

.newDataRow {
  padding-top: 20px;
  td {
    input {
      border: none;
      width: 100%;
      height: 100%;
      padding: 4px;

      text-align: center;
    }
  }
}

button {
  border: none;
  color: white;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 55px;
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));

  &:hover {
    transform: scale(1.05);
  }
}

.add {
  background-color: #4caf50;

  &:hover {
    background-color: #00c97f;
  }
}

.delete {
  background-color: #ca2c2c;

  &:hover {
    background-color: #f01a1a;
  }
}
